.icon {
    width: 4em;
    height: 4em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}
.icon:hover {
    transform: scale(1.8);
}